docs/metaed-project/MetaEdOutput/Fizz/XSD/EXTENSION-Ed-Fi-Extended-Core.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ed-fi.org/3.2.0-c" xmlns:ann="http://ed-fi.org/annotation" targetNamespace="http://ed-fi.org/3.2.0-c" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="Ed-Fi-Core.xsd" />
  <xs:annotation>
    <xs:documentation>===== Ed-Fi 3.2.0-c Extensions =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Domain Entities =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-Assignment">
    <xs:annotation>
      <xs:documentation>Course work assigned to students enrolled in a section.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="AssignmentIdentifier" type="EXTENSION-Identifier">
            <xs:annotation>
              <xs:documentation>A unique numeric identifier assigned to the assignment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SourceSystemIdentifier" type="EXTENSION-SourceSystemIdentifier">
            <xs:annotation>
              <xs:documentation>A unique number or alphanumeric code assigned to a user by the source system.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SourceSystem" type="EXTENSION-SourceSystem">
            <xs:annotation>
              <xs:documentation>The system code or name providing the assignment data.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LMSSectionReference" type="EXTENSION-LMSSectionReferenceType">
            <xs:annotation>
              <xs:documentation>The assigment section.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Title" type="EXTENSION-Title">
            <xs:annotation>
              <xs:documentation>The assignment title or name.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AssignmentCategory" type="EXTENSION-AssignmentCategory">
            <xs:annotation>
              <xs:documentation>The category or type of assignment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AssignmentDescription" type="EXTENSION-LMSDescription" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The assignment description.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StartDateTime" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The start date and time for the assignment. Students will have access to the assignment after this date.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndDateTime" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The end date and time for the assignment. Students will no longer have access to the assignment after this date.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DueDateTime" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The date and time the assignment is due.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SubmissionType" type="EXTENSION-SubmissionType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The type(s) of submissions available for the assignment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MaxPoints" type="EXTENSION-Points" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The maximum number of points a student may receive for a submission of the assignment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EntityStatus" type="EXTENSION-EntityStatus">
            <xs:annotation>
              <xs:documentation>The status of the record.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeletedAt" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The datetime the record EntityStatus was changed to deleted.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-AssignmentSubmission">
    <xs:annotation>
      <xs:documentation>A user's submission of course work for an assignment.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="LMSGradeIdentifier" type="EXTENSION-Identifier">
            <xs:annotation>
              <xs:documentation>A unique numeric identifier assigned to the submission.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SourceSystemIdentifier" type="EXTENSION-SourceSystemIdentifier">
            <xs:annotation>
              <xs:documentation>A unique number or alphanumeric code assigned to a user by the source system.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SourceSystem" type="EXTENSION-SourceSystem">
            <xs:annotation>
              <xs:documentation>The system code or name providing the user data.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UserReference" type="EXTENSION-UserReferenceType">
            <xs:annotation>
              <xs:documentation>A reference to the user providing the assignment submission.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AssignmentReference" type="EXTENSION-AssignmentReferenceType">
            <xs:annotation>
              <xs:documentation>A reference to the submission assignment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Status" type="EXTENSION-Status">
            <xs:annotation>
              <xs:documentation>The status of the submission in relation to the late acceptance policy.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SubmissionDateTime" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>The date and time of the assignment submission.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EarnedPoints" type="EXTENSION-Points" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The points earned for the submission.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Grade" type="EXTENSION-Grade" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The grade received for the submission.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EntityStatus" type="EXTENSION-EntityStatus">
            <xs:annotation>
              <xs:documentation>The status of the record.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeletedAt" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The datetime the record EntityStatus was changed to deleted.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-LMSGrade">
    <xs:annotation>
      <xs:documentation>A grade assigned to a user in a section.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="LMSGradeIdentifier" type="EXTENSION-Identifier">
            <xs:annotation>
              <xs:documentation>A unique numeric identifier assigned to the grade.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SourceSystemIdentifier" type="EXTENSION-SourceSystemIdentifier">
            <xs:annotation>
              <xs:documentation>A unique number or alphanumeric code assigned to a user by the source system.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SourceSystem" type="EXTENSION-SourceSystem">
            <xs:annotation>
              <xs:documentation>The system code or name providing the grade data.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UserLMSSectionAssociationReference" type="EXTENSION-UserLMSSectionAssociationReferenceType">
            <xs:annotation>
              <xs:documentation>The student section enrollment tied to the grade.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Grade" type="EXTENSION-Grade">
            <xs:annotation>
              <xs:documentation>The user's letter or numeric grade for the section.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GradeType" type="EXTENSION-GradeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The type of grade reported. E.g., Current, Final.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EntityStatus" type="EXTENSION-EntityStatus">
            <xs:annotation>
              <xs:documentation>The status of the record.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeletedAt" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The datetime the record EntityStatus was changed to deleted.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-LMSSection">
    <xs:annotation>
      <xs:documentation>An organized grouping of course content and users over a period of time for the purpose of providing instruction.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="LMSSectionIdentifier" type="EXTENSION-Identifier">
            <xs:annotation>
              <xs:documentation>A unique numeric identifier assigned to the section.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SourceSystemIdentifier" type="EXTENSION-SourceSystemIdentifier">
            <xs:annotation>
              <xs:documentation>A unique number or alphanumeric code assigned to a user by the source system.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SourceSystem" type="EXTENSION-SourceSystem">
            <xs:annotation>
              <xs:documentation>The system code or name providing the section data.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SISSectionIdentifier" type="EXTENSION-SourceSystemIdentifier" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The section identifier defined in the Student Information System (SIS).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Title" type="EXTENSION-Title">
            <xs:annotation>
              <xs:documentation>The section title or name.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SectionDescription" type="EXTENSION-LMSDescription" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The section description.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Term" type="EXTENSION-Term" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The enrollment term for the section.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LMSSectionStatus" type="EXTENSION-Status" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The section status from the source system. E.g., Published, Completed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EntityStatus" type="EXTENSION-EntityStatus">
            <xs:annotation>
              <xs:documentation>The status of the record.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeletedAt" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The datetime the record EntityStatus was changed to deleted.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-User">
    <xs:annotation>
      <xs:documentation>A person using the instructional system.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="UserIdentifier" type="EXTENSION-Identifier">
            <xs:annotation>
              <xs:documentation>A unique numeric identifier assigned to the user.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SourceSystemIdentifier" type="EXTENSION-SourceSystemIdentifier">
            <xs:annotation>
              <xs:documentation>A unique number or alphanumeric code assigned to a user by the source system.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SourceSystem" type="EXTENSION-SourceSystem">
            <xs:annotation>
              <xs:documentation>The system code or name providing the user data.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UserRole" type="EXTENSION-UserRole">
            <xs:annotation>
              <xs:documentation>The role assigned to the user. E.g., Student, Teacher, Administrator.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SISUserIdentifier" type="EXTENSION-SourceSystemIdentifier" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The user identifier defined in the Student Information System (SIS).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LocalUserIdentifier" type="EXTENSION-SourceSystemIdentifier" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The user identifier assigned by a school or district.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Name" type="EXTENSION-Name">
            <xs:annotation>
              <xs:documentation>The full name of the user.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EmailAddress" type="EXTENSION-EmailAddress">
            <xs:annotation>
              <xs:documentation>The primary e-mail address for the user.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EntityStatus" type="EXTENSION-EntityStatus">
            <xs:annotation>
              <xs:documentation>The status of the record.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeletedAt" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The datetime the record EntityStatus was changed to deleted.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-UserAttendanceEvent">
    <xs:annotation>
      <xs:documentation>Attendance statuses assigned to users for a specific date.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="UserAttendanceEventIdentifier" type="EXTENSION-Identifier">
            <xs:annotation>
              <xs:documentation>A unique numeric identifier assigned to the user attendance event.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SourceSystemIdentifier" type="EXTENSION-SourceSystemIdentifier">
            <xs:annotation>
              <xs:documentation>A unique number or alphanumeric code assigned to a user by the source system.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SourceSystem" type="EXTENSION-SourceSystem">
            <xs:annotation>
              <xs:documentation>The system code or name providing the user data.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UserReference" type="EXTENSION-UserReferenceType">
            <xs:annotation>
              <xs:documentation>A reference to the user associated with the attendance event.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UserLMSSectionAssociationReference" type="EXTENSION-UserLMSSectionAssociationReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>A reference to the section enrollment associated with the attendance event.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EventDate" type="xs:date">
            <xs:annotation>
              <xs:documentation>The date of the attendance event.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Status" type="EXTENSION-Status">
            <xs:annotation>
              <xs:documentation>A code describing the attendance event. E.g., In Attendance, Excused Absence, Unexcused Absence.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EntityStatus" type="EXTENSION-EntityStatus">
            <xs:annotation>
              <xs:documentation>The status of the record.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeletedAt" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The datetime the record EntityStatus was changed to deleted.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-UserLMSActivity">
    <xs:annotation>
      <xs:documentation>An activity performed by a user within the instructional system.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="UserLMSActivityIdentifier" type="EXTENSION-Identifier">
            <xs:annotation>
              <xs:documentation>A unique numeric identifier assigned to the user activity.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SourceSystemIdentifier" type="EXTENSION-SourceSystemIdentifier">
            <xs:annotation>
              <xs:documentation>A unique number or alphanumeric code assigned to a user by the source system.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SourceSystem" type="EXTENSION-SourceSystem">
            <xs:annotation>
              <xs:documentation>The system code or name providing the user data.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UserReference" type="EXTENSION-UserReferenceType">
            <xs:annotation>
              <xs:documentation>A reference to the user associated with the activity.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LMSSectionReference" type="EXTENSION-LMSSectionReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>A reference to the section associated with the activity.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AssignmentReference" type="EXTENSION-AssignmentReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>A reference to the assignment associated with the activity.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActivityType" type="EXTENSION-ActivityType">
            <xs:annotation>
              <xs:documentation>The type of activity. E.g., Discussion Post, Account Access/Log In.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActivityDateTime" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>The date/time the activity occurred.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActivityStatus" type="EXTENSION-Status">
            <xs:annotation>
              <xs:documentation>The activity status.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Content" type="EXTENSION-LMSDescription" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Content associated with the activity.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActivityTimeInMinutes" type="EXTENSION-TimeInMinutes" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The total activity time in minutes.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EntityStatus" type="EXTENSION-EntityStatus">
            <xs:annotation>
              <xs:documentation>The status of the record.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeletedAt" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The datetime the record EntityStatus was changed to deleted.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Descriptors =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Associations =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-UserLMSSectionAssociation">
    <xs:annotation>
      <xs:documentation>The association of a user and section. For a student, this would be a section enrollment. For a teacher, this would be a section assignment.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="UserReference" type="EXTENSION-UserReferenceType">
            <xs:annotation>
              <xs:documentation>A system user associated with the section.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LMSSectionReference" type="EXTENSION-LMSSectionReferenceType">
            <xs:annotation>
              <xs:documentation>A course section defined in the source system associated with the user.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UserLMSSectionAssociationIdentifier" type="EXTENSION-Identifier">
            <xs:annotation>
              <xs:documentation>A unique numeric identifier assigned to the user section association.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SourceSystemIdentifier" type="EXTENSION-SourceSystemIdentifier">
            <xs:annotation>
              <xs:documentation>A unique number or alphanumeric code assigned to a user by the source system.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SourceSystem" type="EXTENSION-SourceSystem">
            <xs:annotation>
              <xs:documentation>The system code or name providing the user data.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EnrollmentStatus" type="EXTENSION-Status">
            <xs:annotation>
              <xs:documentation>The status of the user section association. E.g., Active, Inactive, Withdrawn.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StartDate" type="xs:date">
            <xs:annotation>
              <xs:documentation>Month, day, and year of the user's entry or assignment to the section.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndDate" type="xs:date">
            <xs:annotation>
              <xs:documentation>Month, day, and year of the user's withdrawal or exit from the section.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EntityStatus" type="EXTENSION-EntityStatus">
            <xs:annotation>
              <xs:documentation>The status of the record.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeletedAt" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The datetime the record EntityStatus was changed to deleted.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Extended Reference Types =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-AssignmentIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of an Assignment.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AssignmentIdentifier" type="EXTENSION-Identifier">
        <xs:annotation>
          <xs:documentation>A unique numeric identifier assigned to the assignment.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-AssignmentReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for an Assignment. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="AssignmentIdentity" type="EXTENSION-AssignmentIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of an Assignment.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-AssignmentSubmissionIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of an AssignmentSubmission.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LMSGradeIdentifier" type="EXTENSION-Identifier">
        <xs:annotation>
          <xs:documentation>A unique numeric identifier assigned to the submission.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-AssignmentSubmissionReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for an AssignmentSubmission. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="AssignmentSubmissionIdentity" type="EXTENSION-AssignmentSubmissionIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of an AssignmentSubmission.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-LMSGradeIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of a LMSGrade.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LMSGradeIdentifier" type="EXTENSION-Identifier">
        <xs:annotation>
          <xs:documentation>A unique numeric identifier assigned to the grade.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-LMSGradeReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for a LMSGrade. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="LMSGradeIdentity" type="EXTENSION-LMSGradeIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of a LMSGrade.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-LMSSectionIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of a LMSSection.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LMSSectionIdentifier" type="EXTENSION-Identifier">
        <xs:annotation>
          <xs:documentation>A unique numeric identifier assigned to the section.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-LMSSectionReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for a LMSSection. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="LMSSectionIdentity" type="EXTENSION-LMSSectionIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of a LMSSection.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-UserAttendanceEventIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of an UserAttendanceEvent.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UserAttendanceEventIdentifier" type="EXTENSION-Identifier">
        <xs:annotation>
          <xs:documentation>A unique numeric identifier assigned to the user attendance event.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-UserAttendanceEventReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for an UserAttendanceEvent. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="UserAttendanceEventIdentity" type="EXTENSION-UserAttendanceEventIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of an UserAttendanceEvent.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-UserIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of an User.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UserIdentifier" type="EXTENSION-Identifier">
        <xs:annotation>
          <xs:documentation>A unique numeric identifier assigned to the user.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-UserLMSActivityIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of an UserLMSActivity.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UserLMSActivityIdentifier" type="EXTENSION-Identifier">
        <xs:annotation>
          <xs:documentation>A unique numeric identifier assigned to the user activity.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-UserLMSActivityReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for an UserLMSActivity. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="UserLMSActivityIdentity" type="EXTENSION-UserLMSActivityIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of an UserLMSActivity.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-UserLMSSectionAssociationIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of an UserLMSSectionAssociation.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UserReference" type="EXTENSION-UserReferenceType">
        <xs:annotation>
          <xs:documentation>A system user associated with the section.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LMSSectionReference" type="EXTENSION-LMSSectionReferenceType">
        <xs:annotation>
          <xs:documentation>A course section defined in the source system associated with the user.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UserLMSSectionAssociationIdentifier" type="EXTENSION-Identifier">
        <xs:annotation>
          <xs:documentation>A unique numeric identifier assigned to the user section association.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-UserLMSSectionAssociationReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for an UserLMSSectionAssociation. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="UserLMSSectionAssociationIdentity" type="EXTENSION-UserLMSSectionAssociationIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of an UserLMSSectionAssociation.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-UserReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for an User. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="UserIdentity" type="EXTENSION-UserIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of an User.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Extended Descriptor Reference Types =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Common Types =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Enumerations and Enumerated Collections =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== String Simple Types =====</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="EXTENSION-ActivityType">
    <xs:annotation>
      <xs:documentation>The type of activity. E.g., Discussion Post, Account Access/Log In.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-AssignmentCategory">
    <xs:annotation>
      <xs:documentation>The category or type of assignment.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-EmailAddress">
    <xs:annotation>
      <xs:documentation>The primary e-mail address for the user.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-EntityStatus">
    <xs:annotation>
      <xs:documentation>The status of the record.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-Grade">
    <xs:annotation>
      <xs:documentation>The user's letter or numeric grade for the section.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-GradeType">
    <xs:annotation>
      <xs:documentation>The type of grade reported. E.g., Current, Final.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-LMSDescription">
    <xs:annotation>
      <xs:documentation>The entity description.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1024" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-Name">
    <xs:annotation>
      <xs:documentation>The full name of the user.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-SourceSystem">
    <xs:annotation>
      <xs:documentation>The system code or name providing the user data.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-SourceSystemIdentifier">
    <xs:annotation>
      <xs:documentation>A unique number or alphanumeric code assigned to a user by the source system.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-Status">
    <xs:annotation>
      <xs:documentation>The status of the entity.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-SubmissionType">
    <xs:annotation>
      <xs:documentation>The type or types of submissions available for the assignment.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-Term">
    <xs:annotation>
      <xs:documentation>The enrollment term for the section.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-Title">
    <xs:annotation>
      <xs:documentation>The entity title or name.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-UserRole">
    <xs:annotation>
      <xs:documentation>The role assigned to the user. E.g., Student, Teacher, Administrator.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:annotation>
    <xs:documentation>===== Numeric Simple Types =====</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="EXTENSION-Identifier">
    <xs:annotation>
      <xs:documentation>A unique numeric identifier.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-Points">
    <xs:annotation>
      <xs:documentation>The points associated with a submission for an assignment.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-TimeInMinutes">
    <xs:annotation>
      <xs:documentation>The total activity time in minutes.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="1440" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
